//body{
//  background-color: #000 ;
//}
.contact {
  border: 2px solid #000;
  margin-top: calc(10% + 20px);
  background-color: #ddd;
  h3{
    padding: 10% 0 2% 0;
    display: inline-block;
    font-size: 25px;
    margin-left: 5%;
    margin-right: 1%;
  }
  .socialIcon {
    width: 25px ;
    margin-left: 6%;
    animation: img-icon-anim 5s infinite;
    transform: rotate(0deg);
  }
  .icons {
    svg {
      margin-right: 10%;
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
  .icons {
    padding: 21% 2% 24% 0%;
  }
.contactLinks {
  //border: 1px solid #000;
  display: grid;
  align-content: center;
  align-items: center;
  gap: 2px;
  margin: 2% 0;
  //display: none
  .ui {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: none;
    border: none;
    vertical-align: baseline;
    background: #E0E1E2 none;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0em 0.25em 0em 0em;
    padding: 0.78571429em 1.5em 0.78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.28571429rem;
    a{
      color: #000;
      font-weight: 700;

    }

    &.red{
      background-color: #DB2828;
      color: #FFFFFF;
      text-shadow: none;
      background-image: none;
    }
    &.orange {
      background-color: #F2711C;
    }
    &.yellow{
      background-color: #FBBD08;
    }
    &.olive{
      background-color: #B5CC18;
    }
    &.green{
      background-color: #21BA45;
    }
    &.teal{
      background-color: #00B5AD;
    }
    &.blue{
      background-color: #2185D0;
    }
    &.violet{
      background-color: #6435C9;
    }
    &.purple{
      background-color: #A333C8;
    }
    &.pink{
      background-color: #E03997;
    }
    &.brown{
      background-color: #A5673F;
    }
    &.grey{
      background-color: #767676;
    }
    &.black{
      background-color: #1B1C1D;
    }
    &:hover{
      background-color:  #000;
      transition: auto;
      transform: none;
      a{
        color: #fff;
      }
    }
  }

}}







@keyframes img-icon-anim {
  0%,
  100% {
    transform: rotate(0deg);

  }
  50% {
    transform: rotate(360deg);
  }
}
//============





