@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,900;1,100;1,300&display=swap");
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: ease all 0.5s;
}

body {
  background-color: #fff !important;
}
:root {
  // --main-color: rgba(90, 96, 119, 0.64);
  --main-color: rgba(28, 41, 56, 1); // #1c2938;
  --second-color: #2b5464;
}
::selection {
  background: var(--main-color);
  color: #fff;
}
ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 36px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}
::-webkit-scrollbar-track {
  background: #fff;
}
/* =========================== */
header {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 1030;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}
header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // karam shadow
  filter: drop-shadow(2px 4px 6px #000);
}
header nav .toggle-menu {
  color: #fff;
  font-size: 30px;
}
header nav input {
  display: none;
}
header nav ul {
  display: flex;
}

@media (min-width: 768px) {
  header nav label {
    display: none;
  }
}

@media (max-width: 991px) {
  header .logo img {
    width: 80px;
  }
  header .logo {
    margin-right: 35px;
  }
}
@media (max-width: 767px) {
  header nav label {
    color: aliceblue;
    cursor: pointer;
    padding: 13px;
    margin-right: 10px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
  }
  header nav ul {
    display: none;
  }
  header nav #bar:checked + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  header nav ul li a {
    padding: 15px !important;
  }
}
header nav ul li a {
  // color: #fff;
  color: #2196f3;
  font-size: 13px;
  font-weight: 600;
  padding: 28px 20px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  transition: 0.3s;
}
header nav ul li a.active,
header nav ul li a:hover {
  // color: #1c2938;
  color: #fff;
  border-bottom: 1px solid #fff;
}
header nav .form i:hover {
  color: #1c2938;
}
header .form {
  width: 50px;
  margin-left: 20px;
  text-align: center;
  border-left: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}
header .form i {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}
.landing {
  background-color: rgba(0, 0, 0, 0.815);
  position: relative;
}
.carousel-item .d-block {
  height: 100vh;
}
.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  // background-color: #e65f78;
}
.landing .text {
  background-color: #21272f82;
  border-radius: 20px;
  padding: 4% 4% 5% 15%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60%;
  color: #fff;
  animation: change 1s forwards 0.3s;
}
@keyframes change {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
.landing .text h2 {
  color: #ffffff;
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 20px;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: normal;
}
.landing .text p {
  line-height: 28px;
  font-size: 13px;
}
.landing .change-background {
  width: 50px;
  cursor: pointer;
  text-align: center;
  height: 50px;
  line-height: 48px;
  position: absolute;
  top: 50%;
  border: 1px solid #fff;
  transform: translateY(-50%);
  color: #fff;
  transition: 0.3s;
}
.landing .change-background:hover {
  background-color: var(--main-color);
}
.landing .left {
  left: 50px;
}
.landing .right {
  right: 50px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}
.landing .bullets li {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.landing .bullets li.active {
  background-color: var(--main-color);
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
  }
  .landing .left,
  .landing .right {
    display: none;
  }
}
.img-item img {
  object-fit: cover;
}
/* End Landing */
/* Mohamed Mostafa home and landing style  */
// #home {
//   background-image: url("../media/images/landImg.jpg");
//   background-size: cover;
//   background-position: center center;
//   position: relative;
// }
// #home .layer {
//   background-color: rgba(0, 0, 0, 0.69);
// }

#home .nav-link {
  color: black;
  transition: color 0.5s;
}
#home .nav-link:hover {
  color: #e65f78;
  cursor: pointer;
}

.home-content p {
  color: rgba(255, 255, 255, 0.75);
}
.settings-icon {
  position: absolute;
  top: 55%;
  left: 0;
  background-color: #2b2424;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.up-icon {
  position: absolute;
  bottom: 30px;
  right: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #e65f78;
  z-index: 999;
  color: #fff;
  cursor: pointer;
}
#home .down-icon {
  height: 45px;
  width: 25px;
  border: 2px solid #fff;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 15px;
  animation: scroll 3s ease-in-out infinite;
}
#home .down-icon::after {
  content: "";
  width: 3px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  bottom: 10px;
  transform: translate(-50%);
}
/*  */
.pill {
  background-color: #ffffff7d !important;
}
/*  */

.start {
  color: #000;
  font-size: 17px;
  font-weight: 500;
  &:hover {
    color: #fff !important;
  }
}
/* Mohamed Mostafa home and landing style  */
.videoIntro {
  display: flex;
  justify-content: center;
  // margin: 2%;
  position: relative;
  padding: 175px 75px 75px;
  background-color: #ececec;
  margin: 25px 0;
}
// hossam style video
.g-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.g-wave svg {
  position: relative;
  display: block;
  width: calc(144% + 1.3px);
  height: 198px;
}

.g-wave .shape-fill {
  fill: #607d8b96;
}

/* main-title */

/* font-family: 'Amiri', serif; */

.main-title {
  margin: 20px auto;
  position: relative;
  padding: 20px;
  width: fit-content;
  border: 2px solid #000;
  /* border-radius: 1em; */
  /* overflow: hidden; */
  font-size: 30px;
  font-family: "Amiri", serif;
  text-align: center;
}

/* .main-title:hover h2 {
  color: #fff;
  background-color: tomato;
} */

.main-title::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  // background-color: #0a58ca;
  background-color: var(--main-color);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  right: -15%;
  z-index: -1;
}

.main-title::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: -15%;
  z-index: -1;
}

.main-title:hover::after {
  animation: title-anim-right 0.8s linear forwards;
  /*animation-iteration-count: 2;
  */
  /*animation-direction: alternate;
  */
}

.main-title:hover::before {
  animation: title-anim-left 0.8s linear forwards;
  /*animation-iteration-count: 2;
  */
  /*animation-direction: alternate;
      */
}
@media (max-width: 400px) {
  .main-title::after {
    right: -13%;
  }

  .main-title::before {
    left: -15%;
  }
}
@keyframes title-anim-left {
  50% {
    left: 0%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

@keyframes title-anim-right {
  50% {
    right: 0%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 0%;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.onhover {
  transform: translate(4px, -4px);
  border-radius: 10px;
  box-shadow: -8px 8px 0 #10162f;
  // box-shadow: -8px 8px 0 #0d5fd99c;
  transition: 0.8s ease;
}
.onhover:hover {
  color: #fff;
  // box-shadow: -8px 8px 0 #0d5fd99c;
  box-shadow: -8px 8px 0 #0d5fd9;
  cursor: none;
}
/*  */
.info-hide {
  display: none;
}
/*  */
.article-Text {
  padding: 1%;
  border: 2px solid #9699a8;
  background-color: #efefef;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  // box-shadow: 7px -7px 3px #1c2938;
  box-shadow: -8px 8px 0 #10162f;
}
.article-Text:hover {
  text-shadow: 0px 0 black;
}
.article-Text pre {
  font-weight: bold;
  font-family: sans-serif;
}
.styleFirstUl {
  text-align: right;
  margin: auto;
  width: fit-content;
}
.center-ele {
  align-content: center;
  // background: #00000036;
  background: #efefef;
  box-shadow: 10px 5px 5px #1c2938;
  display: flex;
  font-family: system-ui;
  font-size: 20px;
  justify-content: center;
  margin: 15px auto;
  padding: 5px;
  // width: 90%;
  width: fit-content;
}
.center-ele:hover {
  background-color: #1c2938;
  box-shadow: 10px 5px 5px #000;
  color: #fff;
  border-radius: 10px;
}
.title-section {
  text-align: center;
  position: relative;
  margin-bottom: 5%;
  margin-top: 5%;
  color: var(--second-color);
}
.title-section::before {
  content: "";
  position: absolute;
  background-color: #123450;
  width: 0%;
  bottom: -9%;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s ease;
}
.title-section:hover::before {
  width: 20%;
}
.title-section::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 15%;
  bottom: -40%;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
}
.article-Text iframe {
  display: grid;
  margin: auto;
  width: 50%;
}
ul.departmentName {
  // background: #efefef;
  margin: auto;
  text-align: left;
}
ul.departmentName li {
  border-radius: 15px;
  border: 0.5px solid;
  font-family: "Raleway", sans-serif;
  margin: 2px 0;
  padding: 5px;
  transition: all 0.2s ease-out;
}
ul.departmentName li:hover {
  background-color: #1c2938;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  margin-left: 1%;
}
ul.departmentName li:nth-child(1):hover {
  margin-right: 1%;
}
.departmentName li:nth-child(1) {
  text-align: right;
}

/*  */
.fields {
}
.fields li {
  font-family: "Raleway", sans-serif;
  transition: 0.2s ease-out;
  padding: 1px;
  margin: 1px;
  border: 0.1px solid transparent;
  border-radius: 10px;
}
.fields li:nth-child(odd) {
  background-color: #8080805e;
}
.fields li:hover {
  background: gray;
  border-left: 5px solid #ccc;
  cursor: pointer;
}
//
/* start tarek css code slider */
.swiper {
  width: 100%;
}
.swiper-wrapper {
  width: 100%;
  height: 35em;
  display: flex;
  align-items: center;
}

.card{
  align-items: center;
  background-color: #fff;
  border-radius: 2em;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 75%;
  padding: 0 2em;
  padding: 2em 1em;
  width: 25em;
}
.swiper-slide:not(.swiper-slide-active) {
  filter: blur(1px);
}
.card_image {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 5px solid var(--main-color);
  padding: 3px;
  // margin-bottom: 2em;
  margin-top: 1em;
}
.card_image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.card_content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card_title {
  font-size: 1.5em;
  font-weight: 500;
  position: relative;
  top: 0.2em;
  margin: 20px;
  letter-spacing: 1.5px;
}

.card_name {
  color: var(--main-color);
}
.card_text {
  text-align: center;
  font-size: 1.1em;
  margin: 1em 0;
}

.card_btn {
  background-color: var(--main-color);
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  // padding: 0.5em;
  padding: 7px 30px 7px 30px;
  border-radius: 0.5em;
  margin-top: 1.5em;
  cursor: pointer;
}
.card_btn:hover {
  // letter-spacing: 1px;
  background-color: #3f546c;
    color: #fff;
}
.card_btn a {
  color: #fff;
}
.card_btn a:hover {
  color: #fff;
}
/*end tarek css code slider */
/*  */

.fixedTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;

  background: rgb(90, 96, 119);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  filter: drop-shadow(2px 4px 6px #000);
  transition: all 1s;
}

.fixedTop:hover {
  animation: pulse 1s infinite ease-in-out alternate;
}

.fixedTop:hover::after {
  animation: PointMove 0.2s infinite ease;
}

.fixedTop::after {
  content: "";
  width: 10px;
  height: 5px;
  background: #fff;
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  box-shadow: 0 0 30px gold, 0 0 40px gold, 0 0 50px gold, 0 0 60px gold;
  filter: blur(2px);
  transition: all 0.5s;
  opacity: 0;
}

/*  */

/* according in article */
.mtb {
  margin: 10px 0;
}
.myaccordion {
  margin: 0 auto;
  border-radius: 0;
  overflow: hidden;
}

.myaccordion .cardAccord,
.myaccordion .cardAccord:last-child .card-header {
  border: none !important;
  background: transparent !important;
}

.myaccordion .card-header {
  border: none;
  background: transparent;
}
.myaccordion .card-header .headingAccord {
  position: relative !important;
  font-weight: 300 !important;
  z-index: 0 !important;
}
.myaccordion .card-header .headingAccord h3 {
  font-size: 16px !important;
  margin-bottom: 0 !important;
  text-align: left !important;
  color: #fff !important;
}
.myaccordion .termNumClass {
  text-align: center;
  background: #dad2ca;
  color: #000;
  width: 90%;
  margin: auto;
  border-radius: 20px;
}
.myaccordion .fa {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
}

.myaccordion .btn {
  width: 100%;
  font-weight: normal;
  color: #000;
  padding: 0;
  letter-spacing: 0;
  font-size: 18px;
  border-radius: 0 !important;
  border: none;
  position: relative;
  background: #1c2938;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 7px 24px -19px rgba(0, 0, 0, 0.32);
}
.myaccordion .btn h3 {
  text-align: left !important;
  color: #fff !important;
}
.myaccordion .btn h3 span {
  display: block !important;
}
.myaccordion .btn h3 span:first-child {
  font-size: 14px !important;
  text-transform: uppercase !important;
}
.myaccordion .btn .icon {
  z-index: 0;
}
.myaccordion .btn .icon i {
  font-size: 20px !important;
  color: #fff !important;
}
.myaccordion .btn-link {
  text-decoration: none !important;
}
.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
  text-decoration: none;
  filter: brightness(1.2);
}

[data-toggle="collapse"] .fa:before {
  content: "\f3d8";
  font-family: "Ionicons";
  font-style: normal;
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f3d0";
  font-family: "Ionicons";
  font-style: normal;
}

button[aria-expanded="true"] {
  color: #fff !important;
  font-weight: bold;
  background: #1c2938 !important;
  border-color: #1c2938 !important;
  box-shadow: 0px 7px 24px -19px rgba(0, 0, 0, 0.5) !important;
  transition: 0.3s;
}
@media (prefers-reduced-motion: reduce) {
  button[aria-expanded="true"] {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
button[aria-expanded="true"] .fa {
  color: #38ade0 !important;
}

button[aria-expanded="false"] {
  background-color: #fff;
}

.card-body {
  background: #253447;
  -webkit-box-shadow: 0px 7px 24px -19px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 7px 24px -19px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 7px 24px -19px rgba(0, 0, 0, 0.22);
}
@media (max-width: 767.98px) {
  .card-body .img {
    height: 200px;
    margin-bottom: 20px;
  }
}
.card-body p {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}
.card-body ul {
  padding: 0;
  margin-bottom: 0;
}
.card-body ul li {
  list-style: none;
  border-bottom: 1px solid #1c2938;
  border-top: 1px solid rgba(255, 255, 255, 0.03);
}
.card-body ul li:hover {
  filter: brightness(1.3);
}
.card-body ul li:first-child {
  border-top: none;
}
.card-body ul li:last-child {
  border-bottom: none;
}
.card-body ul li a {
  padding: 15px 30px;
}
.card-body ul li a p {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
}
.card-body ul li a p span {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 10px;
}
.card-body ul li a .icon {
  font-size: 24px;
  margin-right: 10px;
  color: #38ade0;
  margin-top: -5px;
}
// shapes before videos

.shape {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  text-align: center;
  border: 1px solid;
  background: #fff;

  position: relative;
  box-shadow: 0 0 30px var(--main-color);
  margin: auto;
}
.shape:hover {
  box-shadow: 0 0 100px var(--main-color);
  border-color: #fff;
}
.shape:hover span {
  color: #1068e9;
}
@media (max-width: 400px) {
  .shape {
    width: 200px;
    height: 200px;
  }
}

.shape p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 900;
}

.shape span {
  font-size: 51px;
  color: var(--second-color);
  font-weight: bold;
}
//
// karam  .btn-style
.btn-style {
  background-color: var(--main-color);
  //   background: #ff2020;
  //   font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: white;
  padding: 30px 28px;
  border: 0;
  border-radius: 20px;
  position: relative;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  z-index: 1;
  overflow: hidden;
  width: 50%;
  display: block;
  margin: 1% auto;
}

.btn-style::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #4a4a4b;
  // background: var(--main-color);
  left: 100%;
  top: 0;
  z-index: -1;
  transition: all 0.5s;
}

.btn-style:hover::after {
  left: 0;
}
