.Material {
}
.Material .accordion-button::after:not(:first-of-type) {
  //   background: #f0f8ffa1;
  background-color: #2b4e64;
  border-radius: 2px;
}

/* Color variables */
:root {
  --primary-color: rgb(28, 41, 56);
  --complement-color-1: rgb(56, 28, 41);
  --complement-color-2: rgb(41, 56, 28);
}

/* Accordion styles */
.Material {

  .accordionButtonEdit::after {
    position: absolute;
    right: 2%;
  }
  .accordionBodyEdit p,
  .accordionBodyEdit .styleFirstUl {
    font-weight: 600;
    font-size: 1rem;
  }
  .accordion2 {
    border: none;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
  }

  .accordion-item2 {
    // border-bottom: solid #ccc;
    border-bottom: 1px solid #ddd;
  }

  .accordion-header2 {
    // background-color: var(--primary-color);
    // color: #fff;

    background-color: rgba(28, 41, 56, 1);
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }

  .accordion-header2:hover {
    background-color: rgba(85, 107, 120, 1);
  }

  .accordion-header2.active {
    background-color: var(--complement-color-2);
  }
  .accordion-content2 {
    display: none;
    // padding: 10px;
    padding: 10px;
  }

  .active {
    display: block;
  }
}
//
.accordion-content2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.accordion-content2 li {
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
}

.accordion-content2 li:nth-child(odd) {
  background-color: #f2f2f2;
}

.accordion-content2 li:hover {
  background-color: #556b78e3;
  color: #fff;
}

.accordion-content2 li:last-child {
  border-bottom: none;
}
//
.Department-subjects {
  margin: 10% 0;
}
// karam 
.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: none;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  // 
  border-radius: 25px;
}

.popup-content p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  // 
  direction: ltr;
  font-weight: bold;
  // 
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#popup-text ul  {
  font-size: 16px; margin-bottom: 0;
}
#popup-text ul li {
  font-weight: 400 !important;
}
#popup-text h2{
  font-size: 24px; margin-top: 0;
}
.close-icon{
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  // color: #333;
  fill: #000;
  width: 1.5rem;
  height: 2rem;
}
.close-icon:hover {
  // color: #000;
  fill:red;
}
#popup-text span{
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .popup-content p {
    font-size: 12px;
    padding: 10px;
  }

  #popup-text ul {
    font-size: 11px;
  }

  #popup-text h2 {
    font-size: 12px;
  }
  .close-icon{
    width: 1rem;
  }
  #popup-text span {
    font-size: 11px !important;
  }
}
