/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 90vh;
  background: var(--main-color);
}

#hero .container {
  padding-top: 72px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 29px;
  font-size: 19px;
  font-weight: 300;
  line-height: 2;
}

#hero .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #47b2e4;
}
.hero-description{
  font-size: 0.8rem;
  color: white;
}
#hero .btn-get-started:hover {
  background: #209dd8;
}

#hero .btn-watch-video {
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: #fff;
  line-height: 1;
}

#hero .btn-watch-video i {
  line-height: 0;
  color: #fff;
  font-size: 32px;
  transition: 0.3s;
  margin-right: 8px;
}

#hero .btn-watch-video:hover i {
  color: #47b2e4;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
.hero-img{
  text-align:center;
}
.web-img{
  width: 300px;
  height: 300px;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
    
  }
  #hero .btn-get-started{
    margin-bottom: 50px;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 70%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

// @-webkit-keyframes up-down {
//   0% {
//     transform: translateY(10px);
//   }

//   100% {
//     transform: translateY(-10px);
//   }
// }

// @keyframes up-down {
//   0% {
//     transform: translateY(10px);
//   }

//   100% {
//     transform: translateY(-10px);
//   }
// }


// // .container{
// //   background-color: #777;
// //   color: #fff;
// //   margin-bottom: 100px;
// // }
// // h3 {
// //   color: red;
// //   border: 5px solid black;
// // }
// // .main-stru{
// //   background-color: #7777779d;
// //   color: black;
// // }
// // .main-stru .child-stru{
// //   border: 4px solid red;
// //   p,h3,h4{
// //     font-size: 20px;
// //   }
// // }
// .stru{
//   background-color: #478ac9;
//   color: #fff;
  

// }
// .main-stru{
//   margin: 100px;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   flex-flow: wrap;
// }
// .main-stru .stru-content{
//   display: inline-block;
//     width: 60%;
//     margin: 20px auto;
// }
// .main-stru .stru-content .main-text{
//   margin-bottom: 20px;
// }
// .main-stru .stru-content .main-text h2{
//     font-family: sans-serif;
//     margin: 30px auto 0 0;
//     font-weight: 500;
// }
// .main-stru .stru-content .main-text p{
//   line-height: 2;
//   font-size: 1.125rem;
//   font-weight: 300;
//   margin: 34px 0 0;
// }
// .main-stru .img-content{
//   display: inline-block;
// }
// .main-stru .img-content img{
//   width: 400px;
//   height: 400px;
//   border-radius: 50%;
//   margin: 20px;

// }
// .dot {
//   height: 25px;
//   width: 25px;
//   background-color: #1c2938;
//   border-radius: 50%;
//   display: inline-block;
// }
.roadmap-img {
  padding-top: 70px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 20px;
}
.roadmap-text{
margin: 130px 0px 0px 30px;
// text-align: left !important;
// direction: ltr !important;
}
.roadmap-text h2{
  padding: 20px;
  margin: 20px;
}
.roadmap-text p{
  margin: 0 20px;
    padding: 0 20px 10px 20px;
    font-size: 20px;
    width: 70%;
    a{
      color: #1c2938;
      font-weight: bold;
    }
}
.roadmap-text ul li {
  margin: 45px;
    list-style: disc;
    font-size: 20px;
    width: 70%;
}


.main-section {
  padding-top: 45px;
  padding-bottom: 45px;
}
// .container {
//   padding-right: 15px;
//   padding-left: 15px;
//   margin-right: auto;
//   margin-left: auto;
// }
.main-section h1 {
  text-align: center;
  font-size: 36px;
  color: #000000;
  margin-bottom: 35px;
}
.lang-title {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.courses-section {
// display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: flex-start;
  // align-items: center;
  // background-color: #ffffff;
  // padding: 10px;
  // border-radius: 6px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 15px;
  padding: 0 20px;
}
.courses-section .courses-box {
  // width: 200px;
  // height: 200px;
  // flex-basis: 49%;
  // margin-left: 1%;
  // background-color: #f1f1f1;
  // margin-bottom: 20px;
  // text-align: right;
  // padding: 15px 5px 10px;
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
}
.courses-section .courses-box a{
  // display: table-footer-group;
  // text-decoration: none;
  // background-color: transparent;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 6px;
}
.courses-section .courses-box {
  // width: 200px;
  // height: 200px;
  flex-basis: 49%;
  margin-left: 1%;
  background-color: #f1f1f1;
  margin-bottom: 20px;
  text-align: right;
  padding: 15px 5px 10px;
}
.courses-section .courses-box a{
  display: table-footer-group;
  text-decoration: none;
  background-color: transparent;
}
.courses-section .courses-box a h2 {
  font-size: 14px;
  font-weight: 900;
  line-height: 1.4;
  color: #000000;
}
.courses-section .courses-box a span {
  display: inline-block;
  font-size: 12px;
  font-weight: 100;
  color: #ffffff;
  background-color: #3498db;
  padding: 7px 13px 5px !important;
}
.courses-section .courses-box a p {
  font-size: 13px;
  font-weight: 500;
  color: #222;
  padding-top: 5px;
}
.dright{
direction: rtl;
}








@media screen and (max-width: 1200px) {
  .stru-content, .img-content{
    width: 80%;
  }
}
@media screen and (max-width: 1350px){
  .img-content{
    margin: 20px auto;
    
  }
}
@media screen and (max-width: 600px){
  .stru-content, .img-content{
    width: 80%;
  }
}
@media screen and (max-width: 375px){
  .img-content{
    width: 50%;
    justify-content: center;
  }
}
 
// // html media quarey
// @media (min-width: 992px){
// .container {
//     width: 970px;
// }
// }
// @media (min-width: 768px){
// .container {
//     width: 750px;
// }
// }
