
// new Karam Style at  5-7-2023
.quiz-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
  }
  
  .wizz-sty {
    background-color:var(--main-color);
    padding: 20px;
    text-align: center;
    color: white;
  }
  
  .wizz-sty h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .wizz-sty label {
    display: block;
    margin-bottom: 10px;
  }
  
  .wizz-sty input[type="radio"] {
    display: none;
  }
  
  .wizz-sty input[type="radio"] + span:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  .wizz-sty input[type="radio"]:checked + span:before {
    // background-color: var(--second-color);
    background-color: #fbff00;
  }
  
  .wizz-sty input[type="radio"] + span {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    cursor: pointer;
  }
  
  #quiz-result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    // color: var(--main-color);
    background-color: #dc3545;
    color: white;
  }