.loader-track{
    width: 64%;
    height: 3.7px;
    background: #ccc;
    position: relative;
    overflow: hidden;
    .snake{
        position: absolute;
        width: 70%;
        background: var(--color1);
        height: 100%;
        transform: translate(20px);
        right: 0;
        animation: page-loader 900ms ease;
        animation-iteration-count: infinite;
        animation-direction: alternate
    }
}